* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container{
    width: 100%;
    font-size: 1.125rem;
    background-color: rgb(214, 228, 243);
}
header {
    width: 100%;
    font-family: 'Thasadith', sans-serif;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255,255,255,1), rgba(0,0,0,.1));
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: space-between;
}
.logo {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.logo img {
    width: 60px;
    height: 40px;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}
.nav-links li {
    display: block;
    margin-right: 60px;
    font-size: 16px;
    color: rgba(128, 128, 128, 0.452);
}
.nav-links li:last-of-type {
    margin-right: 0;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-color: rgb(214, 228, 243);
}
.left-desc {
    width: 35%;
    height: 70%;
    min-width: 450px;
    /* background-color: cyan; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.first-row {
    font-size: 60px;
    font-weight: 100;
    width: 100%;
}
.second-row {
    font-size: 70px;
    width: 100%;
}
.left-desc p{
    margin-top: 30px;
    font-size: 14px;
    width: 380px;
    font-weight: 300;
    font-family: 'Thasadith', sans-serif;
    line-height: 2;
}
.left-desc a {
    display: block;
    width: 30%;
    font-size: 15px;
    color: black;
    margin-top: 40px;
    box-shadow: black 2px 5px 15px -10px;
    border-radius:30px;
    padding: 15px;
    text-align: center;
    background-color: white;
    transition: background-color 0.5s ease-in;
}
.left-desc a:hover{
    background-color: rgba(107, 107, 228, 0.671);
    color:white;
}
.left-desc i {
    float: right;
    margin-top: 5px;
}
.model-image{
    width: 45%;
    margin-top: 80px;
    min-width: 400px;
}
.model-image img {
    width: 100%;
}
footer {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.bubble1 {
    width: 180px;
    height: 180px;
    background: radial-gradient(rgba(0,0,0,0.01),rgba(255,255,255,.2));
    position: absolute;
    top: 150px;
    left: -30px;
    box-shadow: black 0 1px 15px -12px;
    border-radius: 50%;
    animation: bubble-ani 40s ease-in-out infinite;
    animation-direction: alternate;
}
@keyframes bubble-ani {
    from {
        left: -30px;
        opacity: 1;   
    }
    to {
        left: 300px;
        opacity: 0.8;
    }
}
.bubble2 {
    width: 250px;
    height: 250px;
    background: radial-gradient(rgba(0,0,0,0.01),rgba(255,255,255,.2));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: black 0 1px 15px -12px;
    border-radius: 50%;
    animation: animate2 40s ease infinite;
    animation-direction: alternate;
}
@keyframes animate2 {
    from {
        transform: translate(-50%,-50%);
        opacity: 1;   
    }
    to {
        transform: translate(100%,50%);
        opacity: 0.8;
    }
}
.bubble3 {
    width: 60px;
    height: 60px;
    background: radial-gradient(rgba(0,0,0,0.01),rgba(255,255,255,.2));
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: black 0 3px 15px -12px;
    border-radius: 50%;
    animation: animate3 20s ease infinite;
    animation-direction: alternate;
}
@keyframes animate3 {
    from {
        transform: translate(20%,-50%);
        opacity: 1;   
    }
    to {
        transform: translate(-200%,-50%);
        opacity: 0.8;
    }
}

@media screen and (max-width: 1024px) {
    .model-image {
        margin-top: 150px;
    }
}
@media screen and (max-width: 918px){
    main {
        flex-direction: column;
    }
    .model-image {
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 834px){
    .nav-links {
        display: none;
    }
    .logo {
        margin: 0 auto;
    }
    .left-desc {
        height: 50%;
    }
    .bubble2 {
        display: none;
    }
}
